<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style5.css">
</head>
<body>	
	<div id="divLogin" class="container">
		<h1 th:text="${titulo}" class="text-secondary"></h1>

		<form th:action="@{/registrarUsuario}" method="post">
			<div class="form-group row">

				<div>
					<input type="email" name="email" id="email"
						class="form-control" placeholder="correo" autofocus required />
				</div>
				<div>
					<input type="text" name="username" id="username" class="form-control"
						placeholder="nombre completo" required />
				</div>
				
				<div>
					<select name="tipoU" >
						<optgroup label="selecione un tipo de usuario" >
							<option th:each="rol: ${roles}" th:value="${rol.id}"
								th:text="${rol.description}" th:object="${rol}"></option>
						</optgroup>
					</select>
				</div>

				<div>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="contraseña" required />

				</div>

				<div>
					<input type="submit" value="Registrar" class="btn btn-primary" />
					<a th:href="@{/login}" class="btn btn-primary">Login</a>

				</div>
				<div>
				<h5 th:text="${info}" class="text-primary"></h5>
				</div>
			</div>
		</form>

	</div>
</body>
</html>




